<div class=container>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h4>Add new Product</h4>
    </div>
  </div>
<%= form_for :product, url: products_path,:html => {:class => "form-horizontal center"} do |f| %>

    <div class="form-group">
      <%= f.label :name,class: "col-md-4 control-label"  %>
      <div class="col-md-4">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

  <div class="form-group">
    <%= f.label :description,class: "col-md-4 control-label"   %>
    <div class="col-md-4">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price, class: "col-md-4 control-label" %><br>
    <div class="col-md-4">
      <%= f.text_field :price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category, class: "col-md-4 control-label" %><br>
    <div class="col-md-8">
      <%= collection_select(:product, :category_id, @categories, :id, :name, {:prompt => false}) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-8 col-md-offset-4">
      <%= f.submit%>
    </div>
  </div>
<% end %>
</div>
<% link_to "Back", products_path  %>
