<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<p>
  <strong>Title</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description</strong>
  <%= @product.description %>
</p>


<p>
  <strong>Price</strong>
  $<%= @product.price %>
</p>
